.c-check{

    position: relative;

    &__label{
        display: flex;
        position: relative;
        justify-content: flex-start;
        align-items: center;
      
    }

    &__input{
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;
        &:checked + span.c-check__select{

                background-color: green;

                &:after{
                    
                    left: calc(100% - 28px);
                    
                }

        }
    }

    &__select{
        width: 60px;
        height: 30px;
        border-radius: 60px;
        border: solid 1px #000;
        position: relative;
        transition: all 0.5s ease;
        margin-right: 9px;

        &:after{
            position: absolute;
            left: 1px;
            top: 50%;
            height: 26px;
            width: 26px;
            background-color: red;
            border-radius: 60px;
            content: "";
            transform: translateY(-50%);
            transition: all 0.5s ease;
        }
        
    }

}